{%extends 'base.html'%}
{% load static %}

{% block head %}
  <title> About </title>
{% endblock %}

{%block body%}
<br>
<div class="row">
<div class="card" style="width:50rem;">
  <img class="card-img-top" src="{% static 'Shell/main.jpg'%}" alt="Card image cap">
  <div class="card-body">
    <h3>Title</h3>
    <p class="card-text">The final design of the building has changed a slightly to make it even more reminiscent of shells (nutmeg) and there is even more space. The number of floors (reduced by one) and the distribution in the middle have also changed. The exterior appearance was enriched by a double façade, glass walls, green walls and roof. 
In view of this, the building has been completed with emergency exits, another core with a staircase, strong and more detailed divisions.</p>
  </div>
</div>
<div class="card" style="width:30rem;">
  <img class="card-img-top" src="{% static 'Shell/second.jpg'%}" alt="Card image cap">
  <iframe height="315" src="https://www.youtube.com/embed/XcZo-S9uMcY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
    <h2> Outside and inside walkthrough video </h2>
  </div>
</div>
<div class="card" style="width:50rem;">
<img class="card-img-top" src="{% static 'Shell/Groundfloor.jpg'%}" alt="Card image cap">
  <h2> Ground floor <h2>
  <img class="card-img-top" src="{% static 'Shell/Firstfloor.jpg'%}" alt="Card image cap">
  <h2> First floor </h2>
  
</div>
<div class="card" style="width:30rem;">
  <img class="card-img-top" src="{% static 'Shell/explosion.jpg'%}" alt="Card image cap">
  <img class="card-img-top" src="{% static 'Shell/render_1.jpg'%}" alt="Card image cap">
  <img class="card-img-top" src="{% static 'Shell/render_0.jpg'%}" alt="Card image cap">
    
</div>

</div>
{%endblock%}