{%extends 'base.html'%}
{% load static %}

{% block head %}
  <title> About </title>
{% endblock %}

{%block body%}
<a href="{% url 'ideas'%}" class="btn btn-secondary">Go back</a>
<div class="row">
<div class="card" >
  <img class="img-top" src="{% static 'Shell/Second Idea/what.jpg'%}" alt="Card image cap">
  <div class="card-body">
  Sky view of my model
  </div>
</div>
<div class="card" >
  <img class="img-top" src="{% static 'Shell/Second Idea/First floor.jpg'%}" alt="Card image cap">
  <div class="card-body">
  First floor
  </div>
</div>
<div class="card" >
  <img class="img-top" src="{% static 'Shell/Second Idea/ground floor no lines.jpg'%}" alt="Card image cap">
  <div class="card-body">
  Ground floor
  </div>
</div>
<div class="card" >
  <img class="img-top" src="{% static 'Shell/Second Idea/Top view.jpg'%}" alt="Card image cap">
  <div class="card-body">
  Top view
  </div>
</div>
</div>
{%endblock%}