{%extends 'base.html'%}
{% load static %}

{% block head %}
  <title> About </title>
{% endblock %}

{%block body%}
<br>
<a href="{% url 'ideas'%}" class="btn btn-secondary">Go back</a>
<div class="row">
<div class="card">
  <img class="card-img-top" src="{% static 'Shell/Third Idea/Building1.png'%}" alt="Card image cap">
  <img class="card-img-top" src="{% static 'Shell/Third Idea/Building2.png'%}" alt="Card image cap">
  <div class="card-body">
    <h2>Outside view</h2>
  </div>
</div>
<div class="card" style="width:50rem;">
  <img class="card-img-top" src="{% static 'Shell/Third Idea/ground floor.jpg'%}" alt="Card image cap">
  <div class="card-body">
    <h2>Ground floor</h2>
  </div>
</div>
<div class="card" style="width:50rem;">
  <img class="card-img-top" src="{% static 'Shell/Third Idea/First floor.png'%}" alt="Card image cap">
  <div class="card-body">
    <h2>First floor</h2>
  </div>
</div>

<div class="card" style="width:50rem;">
  <img class="card-img-top" src="{% static 'Shell/Third Idea/Mazzenine floor.jpg'%}" alt="Card image cap">
  <div class="card-body">
    <h2>Mezzenine floor </h2>
  </div>
</div>
</div>
{%endblock%}