{%extends 'base.html'%}
{% load static %}

{% block head %}
  <title> About </title>
{% endblock %}

{%block body%}
<div class="row">
  <div class="card">
    <div class="img-top" >
      <iframe src="https://www.youtube.com/embed/ijI1wZXCWSI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h2> Posters presentation  </h2>
      <a style="color:blue" href="{% static 'presentation.pdf'%}">Click this text for full pdf report </a>
    </div>
  </div>
</div>

</div>
{%endblock%}  