{%extends 'base.html'%}
{% load static %}

{% block head %}
  <title> About </title>
{% endblock %}

{%block body%}
<br>
<div class="row">
<div class="card" style="width:70rem;">
  <iframe  height="713" src="https://www.youtube.com/embed/ijI1wZXCWSI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="card-body">
    <h2> Posters presentation </h2>
    <a style="color:blue" href="{% static 'presentation.pdf'%}">Click this text for full pdf report </a>
  </div>
</div>

</div>
{%endblock%}  